---

# **A. IMPORT LIBRARY**

In [3]:
import pandas as pd
import joblib
pd.options.display.max_columns = None

---

# **B - MODEL LOADING**

In [4]:
# Memuat pipeline preprocessing dari berkas
preprocessing_pipeline = joblib.load('preprocessing_pipeline.pkl')

# Memuat model terbaik dari berkas
best_svm_model = joblib.load('best_svm_model.pkl')

---

# **C - CREATE NEW DATA**

In [5]:
# Membuat dataframe baru
data = pd.DataFrame({
    'name':['Iphone 8', 'Xiaomi Mi6', 'Oppo F3 Plus', 'Nokia 6', 'Xiaomi Redmi Note 3', 'Meizu M2'],
    'ram':[2000, 4000, 4000, 4000, 2000, 2000],
    'battery_power':[1821, 4200, 4000, 3000, 4000, 2500],
    'px_width':[750, 1440, 1080, 1080, 1080, 720],
    'px_height':[1334, 2160, 1920, 1920, 1920, 1280],
    'int_memory':[64, 64, 256, 64, 16, 16],
    'pc':[12, 12, 16, 16, 16, 13]
})

In [6]:
# Memisahkan kolom 'name' dengan indexing
data_name = data['name']

# Sekarang, 'name' telah dipisahkan dari DataFrame
print("Kolom 'name':")
print(data_name)

# Membuat DataFrame baru tanpa kolom 'name'
new_data = data.drop(columns=['name'])

print("\nDataFrame setelah pemisahan:")
print(new_data)

Kolom 'name':
0               Iphone 8
1             Xiaomi Mi6
2           Oppo F3 Plus
3                Nokia 6
4    Xiaomi Redmi Note 3
5               Meizu M2
Name: name, dtype: object

DataFrame setelah pemisahan:
    ram  battery_power  px_width  px_height  int_memory  pc
0  2000           1821       750       1334          64  12
1  4000           4200      1440       2160          64  12
2  4000           4000      1080       1920         256  16
3  4000           3000      1080       1920          64  16
4  2000           4000      1080       1920          16  16
5  2000           2500       720       1280          16  13

---

# **D - DATA PREPROCESSING**

Dikarenakan data baru ini masih mentah, maka harus dilakukan preprocessing terhadap data baru ini, agar bisa dilakukan prediksi oleh model machine learning.

In [7]:
# Menerapkan pipeline
new_data_piped = preprocessing_pipeline.transform(new_data)

---

# **E - MODEL PREDICTION**

Setelah data sudah dilakukan preprocessing menggunakan pipeline, selanjutnya akan dilakukan prediksi rentang harga ponsel terhadap data baru tersebut.

In [8]:
# Melakukan prediksi terhadap data baru
pred = best_svm_model.predict(new_data_piped)
pred

array([2, 3, 3, 3, 3, 2])

**Insight:**

*Dari hasil diatas menunjukkan bahwa model sudah berhasil memprediksi rentang harga ponsel kepada masing-masing kelasnya.*

In [9]:
# Memasukkan kolom hasil prediksi ke dalam data baru
data['price_range'] = pred
data

,name,ram,battery_power,px_width,px_height,int_memory,pc,price_range
0,Iphone 8,2000,1821,750,1334,64,12,2
1,Xiaomi Mi6,4000,4200,1440,2160,64,12,3
2,Oppo F3 Plus,4000,4000,1080,1920,256,16,3
3,Nokia 6,4000,3000,1080,1920,64,16,3
4,Xiaomi Redmi Note 3,2000,4000,1080,1920,16,16,3
5,Meizu M2,2000,2500,720,1280,16,13,2

**Insight:**

*Dari hasil diatas menunjukkan bahwa hasil prediksi sudah berhasil dimasukkan ke dalam kolom baru, dan sudah digabung dengan data baru sebelum dilakukan preprocessing dan modelling.*

---

# **F - MODEL EVALUATION**

*Sebagai kesimpulan, model sudah berhasil dengan sangat baik memprediksi kelas harga ponsel dari data yang baru diberikan kepadanya (kelas 0 = low cost, 1 = medium cost, 2 = high cost, dan 3 = very high cost).*

*Berdasarkan data baru tersebut, data ponsel pada index kedua dan ketiga diprediksi ke kelas harga ponsel 1, yaitu medium cost. Ini disebabkan karena ponsel tersebut tidak memiliki fitur bluetooth, dual sim, 4g, dll. Sedangkan untuk data ponsel pada index pertama, keempat, dan kelima terprediksi sebagai kelas ponsel dengan harga high cost dan very high cost. Itu terjadi karena data ponsel pada index tersebut hampir memiliki semua fitur-fitur yang ada, dan juga dipengaruhi dengan ukuran ponsel, performa, dll.*

---